* {
  margin: 0%;
  padding: 0;
  color: white;
  text-decoration: none;
  font-family: monospace;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  color: white;
  font-size: 3vh;
  padding: 2vh;
}

.nav {
  margin-left: 40px;
}

.content {
  color: #000000;
  font-size: 7vh;
  display: flex;
  justify-content: center;
}

form {
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
}

input {
  margin-bottom: 1.5vh;
  height: 4vh;
  width: 20vw;
  color: #000000;
}

h4 {
  color: black;
  font-size: 3vh;
  margin-top: 1.5vh;
  margin-bottom: 1vh;
}

button {
  color: black;
  padding: 1vh;
}

h2, h5 {
  color: red;
  /* margin-top: 1vh; */
  /* margin-bottom: 1vh; */
}